/demo/out/
node_modules
/demo/source/yospace
/demo/source/bitmovinYospacePlayer
/demo/source/bitmovinPlayer/
/demo/components/bitmovinYospacePlayer/
/demo/components/bitmovinYospaceConvivaPlayer/
/demo/components/bitmovinConviva/
/demo/components/conviva/
/demo/components/bitmovinPlayer/
/YospaceIntegration/source/yospace
/YospaceIntegration/out/
/BitmovinConviva/
/out/
**/.DS_Store
**/.idea/